/* Add screen styles below */

body {
    font-size: 100%;
    background-image: url('bread.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 2px #ababab;
    padding: 20px;
    margin: 20px;
}

header h2 {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-size: 1.875em;
    text-align: left;
    padding: 20px;
    margin: 20px;
    width: 50%;
}

#scroll-container {
    border: 3px solid black;
    border-radius: 0px;
    overflow: hidden;
    background-color: white;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    margin: 40px;
    padding: 20px;
}
  
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
    
.details p {
    text-align: left;
    padding: auto;
}

.details img {
    padding: auto;
    margin: auto;
}

.details ul li {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

.details ul li.challah {
    background: url('challah.PNG') no-repeat center left;
    margin: 15px 15px 15px 15px;
}

.about p {
    text-align: center;
    margin: 10px;
}
