/* Add screen styles below */

body {
    font-size: 100%;
  }

h1 {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #ababab;
}

h2 {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-size: 1.875em;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px 20px 20px 20px;
}

.p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.875em;
}